.container {
  padding: 70px 0;
  border: 3px solid green;
  text-align: center;
}
.container h4 {
  word-wrap: break-word;
}
.container h4 a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
